
/* Layout */
.container {
    margin:   0 auto;
    overflow: hidden;
}

/* horizonatally centred */
#content-showslide {
    width:  100%;
    height: var(--slideshow-height); /* used to be 760px, when all the other height values were 720px */

    margin: 10px auto 0;
}

/* Slideshow area */
#showslide {
    position: relative;
    width:  var(--slideshow-width);
    height: var(--slideshow-height);
    
    margin:   40px auto 0;
    overflow: visible;
}

#mask {
    overflow: hidden;
    height: var(--slideshow-height);
}

#showslide ul {
    position: relative;
    margin:  0;
    padding: 0;
}

#showslide li {
    position: absolute;
    top:    0;
    left:   0;
    width:  var(--slideshow-width);
    height: var(--slideshow-height);
    
    list-style:none;
}

.progress-bar { 
    position: relative;
    top:      -5px;
    width:  var(--slideshow-width);
    height:    5px;
    
    background:#000;
}


.currentslide-animation {
        /* animation: name duration timing-fn iteration-count */
           animation: var(--animation-currentslide) var(--animation-time) linear 1; 
      -moz-animation: var(--animation-currentslide) var(--animation-time) linear 1;	
   -webkit-animation: var(--animation-currentslide) var(--animation-time) linear 1;

           animation-play-state: var(--animation-play-state);
      -moz-animation-play-state: var(--animation-play-state);
   -webkit-animation-play-state: var(--animation-play-state);
}

.overlayslide-animation {
        /* animation: name duration timing-fn iteration-count */
           animation: var(--animation-overlayslide) var(--animation-time) linear 1;
      -moz-animation: var(--animation-overlayslide) var(--animation-time) linear 1;
   -webkit-animation: var(--animation-overlayslide) var(--animation-time) linear 1;

           animation-play-state: var(--animation-play-state);
      -moz-animation-play-state: var(--animation-play-state);
   -webkit-animation-play-state: var(--animation-play-state);
}


.progress-bar-animate {
           animation: timeline var(--animation-time) linear 1; /* animation: name duration timing-fn iteration-count */
      -moz-animation: timeline var(--animation-time) linear 1;
   -webkit-animation: timeline var(--animation-time) linear 1;

           animation-play-state: var(--animation-play-state);
      -moz-animation-play-state: var(--animation-play-state);
   -webkit-animation-play-state: var(--animation-play-state);
}
