
/* 
   Slide change animation effects: 
     fromright => new slide comes in from the right
     crossfade => old slide fades on, new slide fades in
*/


/* Slide in from right */
@keyframes fromright-currentslide {
     0% { left:    0px; opacity: 1; z-index: 0; }
    92% { left:    0px; opacity: 1; z-index: 0; } 
   100% { left:-1280px; opacity: 1; z-index: 0; } /* set to 0 if want fade out */
}
@-moz-keyframes fromright-currentslide {
     0% { left:    0px; opacity: 1; z-index: 0; }
    92% { left:    0px; opacity: 1; z-index: 0; } 
   100% { left:-1280px; opacity: 1; z-index: 0; } 
}
@-webkit-keyframes fromright-currentslide {
     0% { left:    0px; opacity: 1; z-index: 0; }
    92% { left:    0px; opacity: 1; z-index: 0; } 
   100% { left:-1280px; opacity: 1; z-index: 0; } 
	
}

@keyframes fromright-overlayslide {
     0% { left: 1280px; opacity: 1; z-index:-1; } /* set to 0 if want fade in */
    92% { left: 1280px; opacity: 1; z-index: 0; } /* set to 0 if want fade in */
   100% { left:    0px; opacity: 1; z-index: 0; }
}
@-moz-keyframes fromright-overlayslide {
     0% { left: 1280px; opacity: 1; z-index:-1; }
    92% { left: 1280px; opacity: 1; z-index: 0; }
   100% { left:    0px; opacity: 1; z-index: 0; }
}
@-webkit-keyframes fromright-overlayslide {
     0% { left: 1280px; opacity: 1; z-index:-1; } 
    92% { left: 1280px; opacity: 1; z-index: 0; }
   100% { left:    0px; opacity: 1; z-index: 0; }
}


/* cross-fade */

@keyframes crossfade-currentslide {
     0% { left:   0px; opacity: 1; z-index: 0; }
    92% { left:   0px; opacity: 1; z-index: 0; } 
   100% { left:   0px; opacity: 0; z-index: 0; }
}
@-moz-keyframes crossfade-currentslide {
     0% { left:   0px; opacity: 1; z-index: 0; }
    92% { left:   0px; opacity: 1; z-index: 0; } 
   100% { left:   0px; opacity: 0; z-index: 0; } 
}
@-webkit-keyframes crossfade-currentslide {
     0% { left:   0px; opacity: 1; z-index: 0; }
    92% { left:   0px; opacity: 1; z-index: 0; } 
   100% { left:   0px; opacity: 0; z-index: 0; } 
	
}

@keyframes crossfade-overlayslide {
     0% { left:   0px; opacity: 0; z-index:-1; }
    92% { left:   0px; opacity: 0; z-index: 0; }
   100% { left:   0px; opacity: 1; z-index: 0; }
}
@-moz-keyframes crossfade-overlayslide {
     0% { left:   0px; opacity: 0; z-index:-1; }
    92% { left:   0px; opacity: 0; z-index: 0; }
   100% { left:   0px; opacity: 1; z-index: 0; }
}
@-webkit-keyframes crossfade-overlayslide {
     0% { left:   0px; opacity: 0; z-index:-1; } 
    92% { left:   0px; opacity: 0; z-index: 0; }
   100% { left:   0px; opacity: 1; z-index: 0; }
}


/* Animated timeline to slide change */
@keyframes timeline {
     0% { width:   0%; opacity: 0.7; }
    92% { width: 100%; opacity: 0.7; }
   100% { width: 100%; opacity: 0.7; }	
}
@-moz-keyframes timeline {
     0% { width:   0%; opacity: 0.7; }
    92% { width: 100%; opacity: 0.7; }
   100% { width: 100%; opacity: 0.7; }	
}
@-webkit-keyframes timeline {
     0% { width:   0%; opacity: 0.7; }
    92% { width: 100%; opacity: 0.7; }
   100% { width: 100%; opacity: 0.7; }	
}

