html, body {
    width:  100%;
    height: 100%;
    margin:   0;
    padding:  0;

    display:         flex;
    justify-content: center;
    align-items:     center;
}

body {
    background: url(uow-background--ko-te-tangata-red.png) no-repeat center center fixed;;
    background-size: cover;
    
    font-family:     monospace;
    color:           #000000;

    background-blend-mode: darken;
    transition: 5s;
}

.center {
    display:         flex;
    justify-content: center;
    align-items:     center;
    flex-direction:  column;
}

/*
#uni_logo {
    position:absolute;
    z-index:9999;
    left:48px;
    top:27px;
    width:35vmin;
    margin:2vmin;
}
*/

.button {
    position: relative;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    width: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 50px;
    text-decoration: none;
    background-color: burlywood;
}

/*
#barcode {
    mix-blend-mode: multiply;
}
*/

.frame {
    /* background-color:rgb(177 167 152 / 60%); */
    padding:5px;
}

