.arrow {
    position: relative;
    display: inline-block;
    width: 49%;
}

.inner {
    margin: auto;
    width: 75%;
}

.dot, .dotcanvas {
    position: absolute; 
    left:   0px; 
    top:    300px; 
    right:  0px; 
    bottom: 0px;
    margin: auto; 
    height: 120px;
    width:  120px;
}	

div.info-box {
    width: 240px;
    background-color: #ffffff80;
    font-family: monospace;
    font-size: 120%;
    color: #ffffff;
}

p.info-box-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
