
html, body {
    width:   100vw;
    height:  100vh;

    margin:  0;	      
    border:  none;
    padding: 0;
}


.fullscreen-canvas-container {
    position: relative;
    width:   100%;
    height:  100%;

    /* trigger centering of container is parent itself not full width and height */
    margin-left:   auto;
    margin-right:  auto;
    border:        none;
    padding-left:  0;
    padding-right: 0;
}

.canvas-bg-color {
    /* To convert #e03031 to filter settings, see:
         https://codepen.io/sosuke/pen/Pjoqqp 
     */
    /* filter: invert(26%) sepia(88%) saturate(3012%) hue-rotate(344deg) brightness(91%) contrast(94%); */
    filter: invert(55%) sepia(81%) saturate(544%) hue-rotate(348deg) brightness(105%) contrast(96%);    
}

.canvas-bg-waves-monochrome {
    /* display block needed to keep firefox happy, see:
         https://stackoverflow.com/questions/58625339/firefox-incorrectly-showing-vertical-scrollbar-on-100vh-chrome-and-safari-does
     */
    display: block;

    padding: 0;
    margin:  0;
    border:  none;
    
    width:   100%;
    height:  100%;
   
    background-color:#faaa33c0;
    background-image: var(--bullrush-background);
}

div.qrcode-center {
    display: block;
    position:absolute;

    /* height: 250px; */
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

/* top-right */

div.infobox {
    font-family: monospace;
    font-size:   150%;
    
    display:    block;
    /* visibility: hidden; */
    
    position: absolute;
    top:      0;
    right:    100px;

    width: 240px;
    /* height: 30px; */

    margin: 12px;
    border: black solid 1px;
    padding: 6px;

    background-color: #ffffff40;
    
    
}


