.arrow {
    position: relative;
    display: inline-block;
    width: 49%;
}

.inner {
    margin: auto;
    width: 75%;
}

.dot, .dotcanvas {
    position: absolute; 
    left:   0px; 
    top:    400px; 
    right:  0px; 
    bottom: 0px;
    margin: auto; 
    height: 120px;
    width:  120px;
}	

/* eog => end of game */

#info-topline {
    padding: 6px 12px 12px 6px;
    background-color: #ffffff80;

    font-size:   120%;
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    color:       #ffffff;
}

div.eog-info-box {
    width: 240px;
    background-color: #000000;
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: #ffffff;
}

p.eog-info-box-text {
  margin: 0;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden-audio {
    height: 0;
    visibiity: hidden;
}
